# Server
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/otp_saas?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_HOST="localhost"
REDIS_PORT=6379

# Security
# Create an initial API key in the DB and use it in the frontend
ADMIN_API_KEY="your-admin-api-key"
